.sm-sp {
  text-align: center;

  &__btn-home {
    margin-top: 20px;
  }

  &__btn-mr {
    margin-right: 10px;
  }

  &__list {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;

    text-align: left;
  }
}
