@import '../_colors.scss';
@import '../_variables.scss';

.tm-spb {
  margin-bottom: 20px;

  &__btn {
    background-color: $color-teal;
    color: $color-white;
    border: none;
    margin: 0 5px;
    padding: 5px 10px;
    font-size: $font-size-lg;
    border-radius: $border-radius;
    cursor: pointer;
  }

  &__title {
    font-size: $font-size-sm;
  }
}
