@import '../variables';

.tm-sp {
  &__item {
    font-size: $font-size-md;
    margin: 10px 0;
  }

  &__total {
    font-size: $font-size-lg;
    font-weight: $font-bold;
    margin-top: 20px;
  }
  &__about {
    margin-top: 50px;

    &-btn {
      border: 1px solid;
      font-size: 1.2em;
      font-weight: 600;
      padding: 10px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
