.home {
  margin-top: -2px;

  &__btn {
    &-gh {
      margin-left: 5px;
    }

    &-mr {
      margin-right: 10px;
    }

    &-lang {
      margin-bottom: 10px;
    }

    &-disabled {
      pointer-events: none;
    }
  }

  &__other-examples {
    margin-top: 20px;
  }

  &__badge {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}
